@import "tailwindcss";

:root {
    --background: #efefef;
    --foreground: #212121;
    scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit, Helvetica, sans-serif;
}
